<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EntryLevel6Database.Properties.Settings.modelConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=model;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False"
            providerName="System.Data.SqlClient" />
        <add name="EntryLevel6Database.Properties.Settings.ConnectionString"
            connectionString="Data Source=Archangel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EntryLevel6Database.Properties.Settings.SocialNetworkConnectionString"
            connectionString="Data Source=Archangel;Initial Catalog=SocialNetwork;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EntryLevel6Database.Properties.Settings.UserCustomersConnectionString"
            connectionString="Data Source=(local);Initial Catalog=UserCustomers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>